[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
pandas = "*"
matplotlib = "*"
numpy = "==1.23.5"
torch = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.9"
